<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" href="w3.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
  <style type="text/css">
    div {
        margin: 10px auto;
    }
    .w3-input {
      width: 50%;
    }
    .sortby {
        display: inline-block;
        cursor: pointer;
    }
    .sortorder:after {
      content: '\25b2';   // BLACK UP-POINTING TRIANGLE
    }
    .sortorder.reverse:after {
      content: '\25bc';   // BLACK DOWN-POINTING TRIANGLE
    }
  </style>
</head>

<body ng-app="myApp" ng-controller="userCtrl">
  <div class="w3-container">
    <h3>Users</h3>
    <form ng-submit="search()">
        <label for="searchby">By : </label>
        <select name="searchby" ng-options="option for option in searchData.searchOptions" ng-model="searchData.searchBy">
        </select>

        <label for="searchKey">Search : </label>
        <input type="text" name="searchKey" ng-model="searchData.searchKey">
    </form>
    <hr/>
    <div><button ng-click="sortBy(null)">Set to unsorted</button></div>
    <table class="w3-table w3-bordered w3-striped">
      <tr>
        <!--th>Id</th-->
        <th>Edit</th>
        <th>Delete</th>
        <th>
            <span class="sortby" ng-click="sortBy('fName')">First Name</span>
            <span class="sortorder" ng-show="propertyName === 'fName'" ng-class="{reverse: reverse}"></span>
        </th>
        <th>
            <span class="sortby" ng-click="sortBy('lName')">Last Name</span>
            <span class="sortorder" ng-show="propertyName === 'lName'" ng-class="{reverse: reverse}"></span>
        </th>
        <th>
            <span class="sortby" ng-click="sortBy('title')">Title</span>
            <span class="sortorder" ng-show="propertyName === 'title'" ng-class="{reverse: reverse}"></span>
        </th>
        <th>
            <span class="sortby" ng-click="sortBy('sex')">Gender</span>
            <span class="sortorder" ng-show="propertyName === 'sex'" ng-class="{reverse: reverse}"></span>
        </th>
        <th>
            <span class="sortby" ng-click="sortBy('age')">Age</span>
            <span class="sortorder" ng-show="propertyName === 'age'" ng-class="{reverse: reverse}"></span>
        </th>
      </tr>
      <tr ng-repeat="user in users | orderBy:propertyName:reverse | search:searchData.searchBy:searchData.searchKey">
        <!--td>{{user.id}}</td-->
        <td>
          <button class="w3-btn w3-ripple" ng-click="editUser(user.id)">&#9998; Edit</button>
        </td>
        <td>
          <button class="w3-btn w3-ripple" ng-click="deleteUser(user.id)">&#10006; Delete</button>
        </td>
        <td>{{ user.fName }}</td>
        <td>{{ user.lName }}</td>
        <td>{{ user.title }}</td>
        <td>{{ user.sex }}</td>
        <td>{{ user.age }}</td>
      </tr>
    </table>
    <br>
    <button class="w3-btn w3-green w3-ripple" ng-click="editUser('new')">&#9998; Create New User</button>

    <form ng-hide="hideform">
      <h3 ng-show="edit">Create New User:</h3>
      <h3 ng-hide="edit">Edit User:</h3>
        <label>First Name:</label>
        <input class="w3-input w3-border" type="text" ng-model="fName" ng-disabled="!edit" placeholder="First Name">
      <br>
        <label>Last Name:</label>
        <input class="w3-input w3-border" type="text" ng-model="lName" ng-disabled="!edit" placeholder="Last Name">
      <br>
      <label>Title:</label>
        <input class="w3-input w3-border" type="text" ng-model="title" placeholder="Title">
      <br>
        <label>Gender:</label>
        <input class="w3-input w3-border" type="text" ng-model="sex" placeholder="Gender">
      <br>
      <label>Age:</label>
        <input class="w3-input w3-border" type="text" ng-model="age" placeholder="Age">
      <br>
        <label>Password:</label>
        <input class="w3-input w3-border" type="password" ng-model="passw1" placeholder="Password">
      <br>
        <label>Repeat:</label>
        <input class="w3-input w3-border" type="password" ng-model="passw2" placeholder="Repeat Password">
      <br>
      <button class="w3-btn w3-green w3-ripple" ng-disabled="error || incomplete" ng-click="saveChanges(userId)">&#10004; Save Changes</button>
      <button class="w3-btn w3-green w3-ripple" ng-click="hideForm()">&#10064; Cancel</button>
    </form>
  </div>

  <script src= "myUsers.js"></script>
</body>
</html>