    div {
        margin: 10px auto;
    }
    .w3-input {
      width: 50%;
    }
    .sortby {
        display: inline-block;
        cursor: pointer;
    }
    .sortorder:after {
      content: '\25b2';   // BLACK UP-POINTING TRIANGLE
    }
    .sortorder.reverse:after {
      content: '\25bc';   // BLACK DOWN-POINTING TRIANGLE
    }
